@model HvemLaverHvad.Models.OverviewUserModel

<div style="background-color: @(Model.BackgroundColor);" class="status">
	<h4><img src="~/Content/emojis/@(Model.Emoji)" width="28" height="28" alt="emoji" /> @Model.Name @Model.Status</h4>
	<ul>
@foreach (var task in Model.Tasks)
{
		<li>(@task.StoryType) @task.Name <a href="@task.Link"><img src="~/Content/link.png" width="12" height="12" alt="Link til #@task.Id" /></a></li>
}
	</ul>
</div>
